<h1><%= @supermarket.name %> Index Page</h1>

<% index = @supermarket.items.to_a.uniq {|item| item} %>
<% index.each do |item| %>
    <div id="items-<%= item.id %>">
      <ol>
        </li><%= item.name %> - <%= number_to_currency(item.price.fdiv(100)) %></li>
      </ol>
    </div>
<% end %>

# attempts to get unique items, not sure how